/* Global Styles */
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
	font-family: sans-serif;
	font-size: 16px;
	line-height: 1.5;
    margin:0;
}

a {
	color: #000000;
	text-decoration: none; 
	transition: color 0.3s;
}

.page_header {
	background-color: #159957;
	padding: 5rem;
    text-align: center;
    background-image: linear-gradient(120deg, #ffffff, #838080);
}

.page_header nav{
    display: flex;
    justify-content: center;
}

.btn {
    display: inline-block;
    margin-bottom: 1rem;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(255, 255, 255, 0.08);
    border-color: rgba(255, 255, 255, 0.2);
    border-style: solid;
    border-width: 1px;
    border-radius: 0.3rem;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
    font-size:1.5rem;
}
  
.btn:hover {
color: rgba(93, 88, 88, 0.8);
text-decoration: none;
background-color: rgba(255, 255, 255, 0.2);
border-color: rgba(255, 255, 255, 0.3);
}

.btn + .btn {
    margin-left: 1rem;
}

.project-tagline{
    font-weight: normal;
    opacity: 0.7;
    font-size: 1.25rem;
    padding-bottom: 1rem;
}

.project-tagline a{
    color: black
}

.project-tagline a:hover{
	color: #fff;
}

h1, h2 {
	margin: 0;
}

h1{
    font-size: 3rem;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}

nav li {
	margin-right: 1rem;
}

nav a {
	display: block;
	padding: 0.5rem;
}

nav a:hover {
	background-color: #0077cc;
	color: #fff;
}

main {
	margin: 2rem auto;
    width: 1000px;
}


/* About */
.teaser-img {
    float: right;
    margin-left: 1rem;
    text-align: center;
}

.teaser-img img{
    width: 450px;
}

/* Team */
.team-row{
    display:flex; 
    justify-content: center;
    /* padding-bottom: 20px; */
}

.team-item{
    text-align: center;
    width:150px; 
    padding: 0px 10px;
}

.image-fit {
    display: block;
	margin: 0 0 0 0;
	width: 100%;
	-moz-transition: opacity 0.1s ease-in-out;
	-webkit-transition: opacity 0.1s ease-in-out;
	-ms-transition: opacity 0.1s ease-in-out;
	transition: opacity 0.1s ease-in-out;
}

.image-fit:hover {
	opacity: 0.8;
}

.image-fit img {
    display: block;
	width: 100%;
}

/* Video */
.presentation-video{
    margin: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
}

/* Demos */
.demo-video {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
.demo-columns {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-bottom: 1rem;
}

.video-col {
    width: 49%;
}

.caption {
    text-align: center;
    color: #159957;
    font-weight: bold;
    width: 100%;
    font-size: 1.5rem;
}

.smallcaption{
    text-align: center;
}

.nopadding_p{
    margin-top: 0;
    margin-bottom: 0.2rem;
}

/* BibTex */
code {
	background: #f7f7f7;
	border-radius: 0.35em;
	border: solid 1px #efefef;
	font-family: "Courier New", monospace;
	margin: 0px;
	padding: 0px;
}

pre {
	-webkit-overflow-scrolling: touch;
	font-family: "Courier New", monospace;
	font-size: 1em;
	margin: 0 0 0 0;
}

pre code {
	display: block;
	line-height: 1.25em;
	overflow-x: auto;
    margin-left: 0;
}

footer {
	background-color: #f5f5f5;
	padding: 0.05rem;
	text-align: center;
	font-size: 0.8em;
}

footer a{
    color: blue
}

footer a:hover{
    color: #7270e9;
}
